.links {
  display: flex;
  justify-content: center;
}

.nav-element {
display: flex;
justify-content: center;
align-items: center;
}

ul{
  list-style-type: none;
  display: inline;
}

header {
  background-image: url(images/straw-hat-flag.jpeg);
  border: solid red 5px;
  text-shadow: 2px 2px black;
  border-radius: 15px;
  box-shadow: 4px 4px black;
}

li {
  display: inline;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

a {
  color: EDF2F4;
  padding: 10px;
  margin: 20px;
  border: solid 3px;
  border-radius: 10px;
  border-color: EF233C;
  text-decoration: none;
  background-color: 8D99AE;
  box-shadow: 4px 4px black;
}

a:hover {
  background-color: crimson;

}
section :first-child:hover {
  font-size: 3rem;
}
nav {
  display: inline;
}

h1 {
  text-align: right;
  padding: 0px;
  margin: 0px;
  color: EDF2F4;

  z-index: 7;
}

section :first-child {
  text-align: center;
  background-color: 8D99AE;
  color: edf2f4;
  font-family: 'Pixelify Sans';
  text-shadow: 4px 4px black;
  border: solid 4px white;
  border-radius: 15px;
  box-shadow: 4px 4px black;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid 5px;
  border-color: EF233C;
  box-shadow: 10px 10px;
}

main {
  background-image: url(images/one-piece-logo.jpeg);
  box-shadow: 10px 10px;
  border-radius: 15px;
}

body {
  background-color: 8D99AE;
  margin-top: 120px;
  
}

p {
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed';
}

h2 {
  font-weight: bold;
  font-size: 35px;
  font-family: 'Pixelify Sans';
}

.name {
  font-family: 'Roboto Condensed';
  margin-top: 10px;
  margin-right: 20px;
  text-shadow: crimson 2px 2px;
  color: white;
}

a {
  font-family: 'Roboto Condensed';
}

.about {
  font-size: 15px;
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed';
  text-shadow: 2px 2px crimson;
}

main :first-child {
  text-align: center;
  font-family: 'Pixelify Sans';
}

footer {
  background-color: crimson;
  border: 5px solid white;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}


.home {
  font-size: 20px;
  background-color: ef233c;
  border-radius: 15px;
  border: white solid 3px;
  box-shadow: 4px 4px black;
}

.header {
  font-family: 'Roboto Condensed';
  font-size: 30px;
}

.home-p {
  background-color: 2B2D42;
  border-radius: 15px;
  border: white solid 3px;
  box-shadow: 4px 4px black;
}

.navbar-o {
  position: fixed;
  width: 97%;
  top: 0;
}

h3 {
  color: crimson;
  font-family: 'Pixelify Sans';
  background-color: white;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid crimson 3px;
}
 input {
  width: 100%;
 }

 #submit {
  width: 20%;
  background-color:8D99AE;
  border: 5px solid red;
  border-radius: 10px;
  color: white;
  font-family: 'Roboto Condensed';
 }

 form {
  background-color: 2B2D42;
  border: 5px solid red;
 }

 .flex-container-submit {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
 }

 label {
  color: white;
  font-size: 20px;
  font-family: 'Roboto Condensed';
 }

.dropdown .dropbtn {
  font-size: 16px;
  border: red solid 3px;
  border-radius: 15px;
  color: white;
  padding: 10px 10px;
  background-color: 8D99AE;
  font-family: 'Roboto Condensed';
  margin: 0; 
  text-shadow: 2px 2px black;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: crimson;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: 2B2D42;
  border-radius: 15px;
  border: 5px white solid;
}

.dropdown-content a {
  color: white;
  padding: 10px 10px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: flex;
  justify-content: flex-start;
}

@media (max-width:400px) {
  a {
    display: none;
  }
 
}

@media (min-width:400px) {
  .dropdown{
    display: none;
  }
}